<h1>About Performers</h1>

<div class="row bottom-padding">
  <div class="col-4">
    <h2>Sandra Feusi</h2>
  </div>
  <div class="col-8">
    <p>Sandra was born in Switzerland and is a graduate of Scuola Teatro Dimitri and trained with Master Lu Yi in San Francisco.</p>
    <p>Sandra began performing in San Francisco with the New Pickle Circus, Make-a-Circus, The Dance Brigade and Run for your Life Dance company. She toured internationally for 5 years with Cirque du Soleil's Saltimbanco.</p>
    <p>After that she and her husband, Sam Payne, created their unique duo Chinese pole act, Vertical Tango, which won a gold medal at the 2005 Festival Mondial du Cirque de Demain, the Prix de la Ville de Paris, the Prix de Cirque Eloize and the Prix Alexandre Grimailo. They received a Silver Clown award at the 2008 Monte Carlo festival where they were also presented with the prestigious People's Choice award. They won the Isadora Duncan award for best choreography. It was the first time this award was given to a circus act. They performed Vertical Tango with Teatro Zinzanni in San Francisco and Seattle, with Circus Knie, with the Carre Theater in Amsterdam, Circus Sarasanni in Buenos Aires, Palazzo in Berlin, and many others.</p>
    <p>Sandra has co-directed and choreographed 2 full length shows: Birdhouse Factory and Zoppo. She is currently performing as well as teaching circus arts at the New England School for Circus Arts.</p>
  </div>
</div>

<div class="row bottom-padding">
  <div class="col-4">
    <h2>Samuel Payne</h2>
  </div>
  <div class="col-8">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
  </div>
</div>

<div class="row">
  <div class="col-4">
    <h3>Honors (Vertical Tango)</h3>
  </div>
  <div class="col-8">
    <p>Gold Medal - The 2005 Festival Mondial du Cirque de Demain<br />
    Gold Medal - The Prix de la Ville de Paris<br />
    Gold Medal - The Prix de Cirque Eloize<br />
    Gold Medal - The Prix Alexandre Grimailo<br />
    Silver Clown Award - The 2008 Monte Carlo Festival<br />
    People's Choice Award - The 2008 Monte Carlo Festival<br />
    The Isadora Duncan Award - Best Choriography<br />
    </p>
  </div>
</div>
